.DS_Store
.bin
.git
.gitignore
.bundleignore
.bundle
.byebug_history
.rspec
test
public/assets
coverage/
log/*
!log/.keep
tmp/*
!tmp/pids/.keep
.env
.env.example
Dockerfile
dump.rdb
**/.git

config/master.key
